.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-header h1 {
    font-size: 25px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filter {
    padding: 10px;
}

.filter button {
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    padding: 4px 10px;
}

.filter button:hover, .filter button.active {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

table {
    width: 100%;
    max-width: 1200px;
    min-width: 800px;
    overflow: scroll;
    border: 2px solid gray;
}

table, tr, td, th {
    border-collapse: collapse !important;
    border: 1px solid gray;
}

td, th {
    padding: 7px 5px;
}
